<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="entity.Brillo.WeatherSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="entity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="entity.Model.WeatherSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="dbContainer" connectionString="server=localhost; User Id=root; Password=root; database=cognitivo;" providerName="MySql.Data.MySqlClient" />
    <add name="Cognitivo.Properties.Settings.MySQLconnString" connectionString="server=localhost; User Id=root; Password=root; database=astrill;convert zero datetime=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <userSettings>
    <entity.Brillo.WeatherSettings>
      <setting name="Temp_Celcius" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WeatherAPI" serializeAs="String">
        <value>http://api.openweathermap.org/data/2.5/weather?lat=35&amp;lon=139</value>
      </setting>
      <setting name="Update_Interval" serializeAs="String">
        <value>240</value>
      </setting>
    </entity.Brillo.WeatherSettings>
    <entity.Properties.Settings>
      <setting name="company_ID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="company_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="branch_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="terminal_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="account_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="user_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Printer_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Document_Id" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="user_UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="vatwithholding_Percentage" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="branch_ID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="terminal_ID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="account_ID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Reciept_FontName" serializeAs="String">
        <value>Arial</value>
      </setting>
      <setting name="Reciept_FontSize" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="Reciept_MaxWidth" serializeAs="String">
        <value>283</value>
      </setting>
      <setting name="Reciept_MinWidth" serializeAs="String">
        <value>300</value>
      </setting>
    </entity.Properties.Settings>
    <entity.Model.WeatherSettings>
      <setting name="Temp_Celcius" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WeatherAPI" serializeAs="String">
        <value>http://api.openweathermap.org/data/2.5/weather?lat=35&amp;lon=139</value>
      </setting>
      <setting name="Update_Interval" serializeAs="String">
        <value>30</value>
      </setting>
    </entity.Model.WeatherSettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>
