<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cognitivo.Sales.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Cognitivo.Product.TransferSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Cognitivo.Sales.ReturnSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Cognitivo.Commercial.PaymentSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Cognitivo.Purchase.InvoiceSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Cognitivo.connString" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Cognitivo.GestureSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Cognitivo.Product.ProductSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Cognitivo.Project.Costing" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Cognitivo.Menu.appListSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Cognitivo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="View.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="Cognitivo.Properties.Settings.MySQLconnString" connectionString="server=localhost;user id=root;password=root;persistsecurityinfo=True;database=golden" providerName="MySql.Data.MySqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="DefaultConnection1" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <appSettings>
    <add key="deleteMessage" value="Are you sure want to Delete?" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LiveCharts" publicKeyToken="c5935629d38af058" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.3.5" newVersion="0.9.3.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Linq.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.2460.0.40" newVersion="15.2460.0.40" xmlns="urn:schemas-microsoft-com:asm.v1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Grid.Wpf" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.2460.0.40" newVersion="15.2460.0.40" xmlns="urn:schemas-microsoft-com:asm.v1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Wpf" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.2460.0.43" newVersion="15.2460.0.43" xmlns="urn:schemas-microsoft-com:asm.v1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.GridCommon.Wpf" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.2460.0.40" newVersion="15.2460.0.40" xmlns="urn:schemas-microsoft-com:asm.v1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.ReportViewer.Wpf" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1460.0.33" newVersion="15.1460.0.33" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.ReportControls.Wpf" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1450.0.33" newVersion="15.1450.0.33" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.ReportWriter.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1450.0.33" newVersion="15.1450.0.33" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.ReportDesigner.WPF" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.2460.0.43" newVersion="15.2460.0.43" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <Cognitivo.Sales.Settings>
      <setting name="VATIncluded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VATExcluded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Discount_OnUnitValue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AvailableCredit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Telephone" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SalesLink" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SalesRepresentative" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Project" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DeveloperMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowDuplicateItem" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FilterByBranch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DiscountStock" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TransDate_Offset" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Branch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DiscountStock_Packing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BlockExcessItem" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="QuantityIntegration" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpiltInvoice" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SpiltReturn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Location" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Contract" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Default_Customer" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowFactorQty" serializeAs="String">
        <value>False</value>
      </setting>
    </Cognitivo.Sales.Settings>
    <Cognitivo.Sales.ReturnSetting>
      <setting name="TransDate_OffSet" serializeAs="String">
        <value>0</value>
      </setting>
    </Cognitivo.Sales.ReturnSetting>
    <Cognitivo.Commercial.PaymentSetting>
      <setting name="Trans_Date" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="vatwithholdingPersent" serializeAs="String">
        <value>0.03</value>
      </setting>
    </Cognitivo.Commercial.PaymentSetting>
    <Cognitivo.Product.ProductSettings>
      <setting name="VAT_Included" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VAT_Excluded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Product" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RawMaterial" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Service" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FixedAsset" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Task" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Supplies" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ServiceContract" serializeAs="String">
        <value>True</value>
      </setting>
    </Cognitivo.Product.ProductSettings>
    <Cognitivo.Properties.Settings>
      <setting name="open_Window" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="language_ISO" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="developer_Option" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mainMenu_Corporate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="wallpaper_Image" serializeAs="String">
        <value />
      </setting>
      <setting name="Continue_OnException" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DebeHaberConnString" serializeAs="String">
        <value>https://www.debehaber.com</value>
      </setting>
      <setting name="ModFavList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Fav</string>
            <string>Purchase</string>
            <string>Sales</string>
            <string>Stock</string>
            <string>Impex</string>
            <string>Finance</string>
            <string>HumanResources</string>
            <string>Accounting</string>
            <string>Project_Event</string>
            <string>Project_PrintingPress</string>
            <string>Project</string>
            <string>Production</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="AppFavList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="UpgradeSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="QuantityDecimalStringFormat" serializeAs="String">
        <value>N2</value>
      </setting>
      <setting name="DefaultCustomer" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CurrencyDecimalStringFormat" serializeAs="String">
        <value>N2</value>
      </setting>
    </Cognitivo.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>